.basic-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
body {
  font-family: 'Domine', serif;
  background-color: #fdfdfd;
  color: #182027;
}
h1,
h2,
h3,
.navbar {
  font-family: 'Montserrat', sans;
  color: #38678e;
}
body {
  padding-top: 60px;
  padding-bottom: 20px;
}
h1 {
  margin: 30px 0;
}
@media (max-width: 767px) {
  h1 {
    margin: 15px 0;
  }
}
.navbar .navbar-header {
  float: left;
}
.navbar .navbar-left {
  float: left;
}
.navbar .navbar-right {
  float: right;
}
.navbar .navbar-nav > li {
  float: left;
}
.navbar {
  background-color: #d7e4ef;
  background-image: repeating-linear-gradient(-15deg, transparent 0, transparent 5px, #d0dfec 5px, #d0dfec 10px);
  border-bottom: dashed 2px #b3cbe0;
}
.navbar .badge {
  background-color: #38678e;
  margin-left: 5px;
}
code {
  padding: 0;
}
.btn {
  transition: color, background-color 250ms linear;
}
.btn:focus {
  outline: none;
}
.btn.btn-success {
  color: #fdfdfd;
  background-color: #68b849;
}
.btn.btn-warning.btn-passive {
  background-color: #fdfdfd;
  color: #cb9050;
}
.img-responsive {
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.loading {
  margin: 50px;
  text-align: center;
}
.product-detail p {
  margin: 15px 0;
}
.product-summary {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-summary .product-summary-image {
  margin-bottom: 5px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .product-summary .product-summary-image {
    height: 210px;
  }
}
.product-controls {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.product-controls .btn {
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .product-controls .btn + .btn {
    margin-left: 2px;
  }
}
@media (max-width: 767px) {
  .product-controls .btn {
    display: block;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
#debug {
  background-color: #fdfdfd;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2000;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px black;
  word-wrap: break-word;
  width: 350px;
}
.placement img {
  margin-top: 20px;
  width: 100%;
}
.product-list {
  margin-bottom: 200px;
}
.list-group .list-group-item {
  text-transform: initcaps;
}
.list-group .list-group-item-info {
  background-color: #d7e4ef;
  background-image: repeating-linear-gradient(-15deg, transparent 0, transparent 5px, #d0dfec 5px, #d0dfec 10px);
}
