h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}
h1 {
  margin: 30px 0;
}
@media (max-width: 767px) {
  h1 {
    margin: 20px 0;
  }
}
body {
  font-family: 'Fauna One', serif;
  padding-top: 60px;
  padding-bottom: 20px;
}
.navbar .navbar-header {
  float: left;
}
.navbar .navbar-left {
  float: left;
}
.navbar .navbar-right {
  float: right;
}
.navbar .navbar-nav > li {
  float: left;
}
.navbar .badge {
  background-color: #337ab7;
  margin-left: 7px;
}
code {
  padding: 0;
}
.btn {
  transition: color, background-color 250ms linear;
}
.btn:focus {
  outline: none;
}
.btn.btn-warning.btn-passive {
  background-color: white;
  color: #f0ad4e;
}
.img-responsive {
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.loading {
  margin: 50px;
  text-align: center;
}
.product-summary {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-summary .product-summary-image {
  margin-bottom: 10px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .product-summary .product-summary-image {
    height: 210px;
  }
}
@media (min-width: 768px) {
  .product-controls .btn + .btn {
    margin-left: 2px;
  }
}
@media (max-width: 767px) {
  .product-controls .btn {
    display: block;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
#debug {
  background-color: #f9f2f4;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2000;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px black;
  word-wrap: break-word;
  width: 350px;
}
.placement img {
  margin-top: 20px;
}
